
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.tophead{
    width:100%;
    height:40px;
    padding: 0px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#06250f;
}
.tophead ul li{
    display:inline-block;
    color:#fff;
    margin:0px 5px;
}
.tophead ul li a{
    color: #bbeeca;
}
header{
    width:100%;
    height:100px;
    color:#fff;
    padding: 0px 100px;
    line-height: 100px;
    background-color: #1c582e;
}
header h1{
    font-size: 50px;
    margin-right: 20px;
}
header h1,header h3{
    display:inline-block;
}

nav{
    width:100%;
    height:40px;
    line-height: 40px;
    padding: 0px 100px;
    background-color:#44965e;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin-right:20px;    
}
nav ul li a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
nav ul li a:hover{
    font: size 105%;
    color:white;
    transition: 0.3s linear;
}
section{
    width:100%;
    padding:0px 100px;    
}

section main {
    width: 80%;
    float:left;
    padding-top: 20px;
   margin-bottom: 20px;
}

section main h2,h5{
    font-family: poppins;

}

section main h5 span a{
   color:#05571d;
   text-decoration: none;   
}
section main p{
    margin-bottom: 15px;
}
section main p a {
    text-decoration: none;
    color: #05571d;
}
section main ul li{
    margin-left:30px;
    padding:0px 10px ;
}
section h3{
    margin-bottom: 10px;
}
section main ol li{
    margin-left:30px;
    padding:0px 10px ;
}
section main ul li.vl{
    border-left: 2px solid green;
    height: 50px;
    margin-left:30px;
    margin-bottom: 20px;
    padding:0px 10px ;
    list-style: none;
}

 section aside{
    width:20%;
    float:right;
    padding:20px 15px;
    background-color:#b9dbbe;
}
aside ul li{
   font-weight: 600;
   list-style: none;
   margin-left:25px;
}

aside ul li ul li{
    padding-left:20px;
    font-weight: normal;
}

footer{
    width:100%;
    height:150px;
    color:#fff;
    padding:20px 100px;
    background:#05571d;
}
footer .links{
    width:33%;
    float:left;
}


footer .follow{
    width:33%;
    float:left;
}
footer ~ ul{
    padding:5px;
   
}
footer ul li{
    list-style: none;
    padding:3px;
    
}
footer ul li a{
    color:#fff;
    text-decoration: none;
}
footer ul li a:hover{
    color: red;
}

footer .copy{
    width:34%;
    float:right;
    text-align:right;
}
footer .copy p{
    text-align: center;
}


 