@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

.tophead{
    width:100%;
    height:40px;
    padding: 0px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#06250f;
    font-family: poppins;
}
.tophead ul li{
    display:inline-block;
    color:#fff;
    margin:0px 5px;
}
.tophead ul li a{
    text-decoration: none;
    cursor: pointer;
    color: #bbeeca;
}

.header{
    width:100%;
    height:100px;
    padding: 0px 100px;
    color:#fff;
    background-color:#005931;
    display: flex;
    line-height: 100px;
    /* font-family: poppins; */
}
.header h1{
    font-size: 50px;
    margin-right: 19px;
}

.header p{
    font-family: poppins;
   margin-top:12px;
}

.nav{
    width:100%;
    height:40px;
    padding: 0px 100px;
    display: flex;
    align-items: center;   
    background-color: #009862;
    font-family: poppins;
}

.nav ul{
    display: flex;
    cursor: pointer;
    list-style-type: none;
}
.nav ul li{
    margin-right: 20px;
}
.nav ul li a{
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.nav ul li a:hover{
    color:white;
    transition: 0.3s linear;
}
.sections{
    width:100%;
    /* height:auto; */
    padding:0px 100px;
    background-color: #ebeaea;
    display:flex;
}

.mains{
    width:80%;
    height:auto;
    padding: 30px 20px 30px 0px;
    /* background-color: aqua; */
}
.para1{
    margin-bottom: 15px;
    font-family: poppins;
}
.mains .para1 h2,p{
    padding-bottom: 5px;
}
.mains .para1 p span{
    color:#07c007;
    cursor: pointer;
}
.vl{
    border-left: 2px solid #07c007;
    height: auto;
    margin-left:30px;
    margin-bottom: 20px;
    padding:0px 10px ;
    list-style: none;
}
.para1 ul{
    padding-bottom: 5px;
}
.para1 ul li{
    margin-left:45px;
}
.para1 ol{
    padding: 11px 0px;
}
.para1 ol li{
    margin-left:45px;
}
.para1 h3{
    padding: 10px 0px;
}


.asides{
    width:20%;
    height:650px;
    padding: 25px 30px;
    background-color:#b9dbbe;
    display:flex;
    flex-direction: column;
    font-family: poppins;
}
.asides .lists{
    text-decoration: none;
    color:#000;
    margin-left: 20px;
    padding: 5px 0px;
}

.asides .lists:hover{
    color:#ffff;
    transition: 0.3s linear;
}


.footers{
    width:100%;
    height:auto;
    color:#fff;
    padding:20px 100px;
    background:#05571d;
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    /* font-weight: 200; */
}
.footers .links{
  
}


.footers .follow{

    /* float:left; */
}
.footers ul{
    margin-top:10px;
   
}
.footers ul li{
    list-style: none;
    padding-top:3px;
    
}
.footers ul li a{
    color:#fff;
    text-decoration: none;
}
.footers ul li a:hover{
    color: black;
    transition: 0.3s linear;
}

.footers .copy{
    text-align:right;
}
.footers .copy p{
    text-align: center;
}

@media screen and (max-width:992px){
    .mains{
        width:65%;
        padding: 30px 6px 30px 0px;
    }
    .asides{
        width:35%;
        padding:30px 25px;
    }

}

@media screen and (max-width:768px){
    .tophead{
        padding:0px 40px;
        font-size: 12px;
    }
    .header{
        height:70px;
        line-height:70px;
        padding:0px 40px;
    }
    .nav{
        padding:0px 40px;
    }
    .nav ul li {
        margin-right: 70px;
    }
    .sections{
        padding:0px 40px;
        flex-direction: column;
    }
    .mains{
        width:100%;
        padding: 30px 0px 30px 0px;
    }
    .asides{
        width:100%;
        padding:30px 25px;
    }
    .footers{
        padding: 20px 40px;
        font-size: 11px;
    }
}

@media screen and (max-width:576px){
    
    .tophead{
        height:55px;
        line-height: 55px;
        font-size: 11px;
    }
    .footers{
        flex-wrap: wrap;
        font-size: 13px;
        justify-content: space-around;
    }
    .footers .links h4{

    }
    .footers .copy{
        display: flex;
        margin-top: 18px;
    }
}